* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

.main-header {
    background-color: #ccc;
    padding: 16px;
    padding-left: 64px;
    margin-bottom: 32px;
    border-radius: 0px 0px 32px 32px;
}

.main-header h1 {
    font-family: 'Times New Roman', Times, serif;
}

.main-header h1 a {
    text-decoration: none;
    color: inherit;
}

.nav-list {
    margin: 16px;
}

.nav-list a {
    text-decoration: none;
    color: black;
}

.nav-list a:hover {
    color: gray;
}

.nav-list li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    margin: 16px;
}